body{
    margin: 0;
}

nav{
    background-color: #002434;
    padding: 0.5%;
    top:0;
    width: 100%;
    position: fixed;
    min-width: 1350px;
}

a{
    color: white;
}

a:link{
    text-decoration: none;
}

nav li{
    display: inline;
}

.botao{
    display:inline;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
    padding-right:1%;
    margin-left:8%;
    border-radius: 15%;
}


#conteudo{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 6rem;
    min-width: 1350px;
    margin-bottom: 2%;
}

#titulo h1{
    font-size: 200%;
    color: #3a68e7;
    font-weight: bold;
    text-align: center;
}

#imagens{
    width: 40%;
}

#img1{
    height: 42%;
    width: 100%;
    margin-bottom: 1%;
}

#img2{
    height: 42%;
    width: 100%;
}

#principal{
    display: flex;
}

#texto{
    width: 70%;
    padding-left: 1%;
    padding-right: 1%;
}

#texto p{
    text-align: justify;
    margin-top:0;
    font-size: 90%;
}

#VxD{
    display: flex;
    font-size: 75%;
}

#vantagens{
    background-color: #4ace60;
    border-radius: 10px;
    padding: 1%;
    padding-right:32%;
}

#desvantagens{
    background-color: #da4646;
    border-radius: 10px;
    padding: 1%;
    padding-right:15%;
    margin-left:0.5%;     
}

#vantagens ul{
    width: 260%;
}

#desvantagens ul{
    width: 130%;
}

.botao:hover{
    background-color: #d8b806;
    transition-duration:0.5s;
}

a:hover{
    color:black;
    transition-duration:0.5s;
}