body{
    margin: 0;
}

nav{
    background-color: #002434;
    padding: 0.5%;
    top:0;
    width: 100%;
    position: fixed;
    min-width: 1350px;
    z-index: 1;
}

.linkButton{
    color: white;
}

.linkButton:link{
    text-decoration: none;
}

nav li{
    display: inline;
    text-align: center;
}

.botao{
    display:inline;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
    padding-right:1%;
    margin-left:8%;
    border-radius: 15%;
}

.botao:hover{
    background-color: #d8b806;
    transition-duration:0.5s;
}

.linkButton:hover{
    color:black;
    transition-duration:0.5s;
}

.conteudo{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 6rem;
    min-width: 1350px;
}

#titulo h1{
    font-size: 200%;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

#texto{
    text-align: justify;
}

.botaoAnimacao{
    background-color: #002434;
    color: white;
    border-radius: 15%;
    text-align:center;
    display:inline;
    padding: 15px 32px;
}

.separate{
    display: flex;
}
.chart-matrix{
    position: relative;
    width: 35%;
}
.chart-matrix2{
    width: 55%;
}
#MatrizEnergetica{
    margin-left: 0 auto;
}
#MatrizEnergeticaColunas{
    margin-right: 0 auto;
}
#referencias{
    padding: 1%;
    position: relative;
}
