html{
    height: 100%;
    width:100%;
}

body{
    min-height: 100%;
    width: 100%;
    margin: 0;
}

nav{
    background-color: #002434;
    padding: 0.5%;
    top:0;
    left:0;
    width: 100%;
    position: fixed;
    min-width: 1425px;
    z-index: 1;
}


a{
    color: white;
}

a:link{
    text-decoration: none;
}

nav li{
    display: inline;
}

.botao{
    display:inline;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
    padding-right:1%;
    margin-left:8%;
    border-radius: 15%;
}

.botao:hover{
    background-color: #d8b806;
    transition-duration:0.5s;
}

a:hover{
    color:black;
    transition-duration:0.5s;
}


#conteudo{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 6rem;
    min-width: 1350px;
}

#titulo h1{
    font-size: 200%;
    color: #74c920ea;
    font-weight: bold;
    text-align: center;
}

#imagens{
    width: 40%;
}

#img1{
   
    width: 100%;
}

#img2{
    
    width: 100%;
}

#principal{
    display: flex;
    margin-bottom: 2%;
}

#texto{
    width: 70%;
    padding-left: 1%;
    padding-right: 1%;
}

#texto p{
    text-align: justify;
    font-size: 80%;
    margin-top:0;
}

#VxD{
    display: flex;
    font-size: 75%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#vantagens{
    background-color: #4ace60;
    border-radius: 10px;
    padding: 1%;
    padding-right:32%;
}

#desvantagens{
    background-color: #da4646;
    border-radius: 10px;
    padding: 1%;
    padding-right:15%;
    margin-left:0.5%;     
}

canvas{
    border-color: royalblue;
}

.countries-chart {
    position: relative;
    margin: auto;
    height: auto;
    width: 100vw;
}
.eficiencia-chart{
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

.botaoAnimacao{
    background-color: #002434;
    color: white;
    border-radius: 15%;
    text-align:center;
    display:inline;
    padding: 15px 32px;
}
#referencias{
    position: relative;
    padding: 1%;
    text-decoration: none;
}
