 body{
    margin: 0;
}

nav{
    background-color: #002434;
    padding: 0.5%;
    top:0;
    width: 100%;
    margin: 0;
    position: fixed;
    min-width: 1350px;
}


nav li{
    display: inline;
}

.linkButton{
    color: white;
    text-align: center;
}

.linkButton:link{
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    #nav ul{display: none;}
  }

.botao{
    display:inline;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
    padding-right:1%;
    margin-left:8%;
    border-radius: 15%;
}


#conteudo{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 6rem;
    min-width: 1350px;
}

#titulo h1{
    font-size: 200%;
    color: #d8b806;
    font-weight: bold;
    text-align: center;
}



#img{
    max-width: 100%;
    height: auto;
}

#texto{
    width: 67%;
    padding-left: 1%;
    padding-right: 1%;
}

#texto p{
    margin: 0;            
    text-align: justify;     
    font-size: 76%;                 
}

#principal{
    display: flex;
    align-items: flex-start;
}


.botao:hover{
    background-color: #d8b806;
    transition-duration:0.5s;
}

a:hover{
    color:black;
    transition-duration:0.5s;
}

#VxD{
    display: flex;
    font-size: 75%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#vantagens{
    background-color: #4ace60;
    border-radius: 10px;
    padding: 1%;
    padding-right:5%;
}

#desvantagens{
    background-color: #da4646;
    border-radius: 10px;
    padding: 1%;
    padding-right:3%;
    margin-left:0.5%;     
}
#referencias{
    position: relative;
    padding: 1%;
}
